{% extends "base.html" %}
{% block title %}Otaku Outages{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block navigation %}
	{{ super() }}
{% endblock %}
{% block content %}
        <main>
            <section id="section--1">
                <div class="container">
                    <h1>About Us</h1>
                    <div class="body-content">
                        <h2>RevolutionUC</h2>
                        <hr />
                        <p id="ru-desc">For the RevolutionUC hackathon we put together a status page that reports
                        on the availability of the top anime streaming sites. To see more about the RevolutionUC Event
                        Click <a target="_blank" rel="noopener noreferrer" class="hyperlink" href="https://revolutionuc.com/">Here!</a></p>
                        <p><strong>Details of our RevolutionUC project</strong></p>

                        <ul class="text-white">
                            <li>Monitors the top anime streaming sites
                                <ul>
                                    <li>CrunchyRoll</li>
                                    <li>Funimation</li>
                                    <li>HiDive</li>
                                    <li>Netflix</li>
                                    <li>And more!</li>
                                </ul>
                            </li>
                            <li>Otaku Outages is a website dedicated to notifying our users of any potential issues
                            that could potentially impact your access to Anime and Waifus!</li>

                        </ul>
                    </div>

                </div>

            </section>

        </main>
{% endblock %}
