{% extends "base.html" %}
{% block title %}Otaku Outages{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block navigation %}
	{{ super() }}
{% endblock %}
{% block content %}
        <main>
            <section id="section--1">
                <div class="container">
                    <h1>Authors</h1>
                    <div class="body-content">
                        <h2>Contributors</h2>
                        <hr />
                        <p id="ru-desc">The vision of Otaku Outages was crafted by our project experts</p>
                        <p><strong>Our RevolutionUC Project Authors</strong></p>

                        <ul class="text-white">
                            <li><a target="_blank" rel="noopener noreferrer" class="hyperlink" href="https://github.com/noUsernamesLef7">NoUsernamesLef7</a> <a class="hyperlink" href="https://jasonrbrown.dev">(Website)</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" class="hyperlink" href="https://github.com/S3cBar0n">S3cBar0n</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" class="hyperlink" href="https://github.com/Specs64z">Specs64z</a></li>

                            <li>A special shout out to <strong>Carole from AWS</strong></li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}
