<!DOCTYPE html>
<html>
    <head>
        <title>Otaku Outages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
        />
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>

        <!------------- Navigation Start ------------->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <div class="container">
                 <a class="navbar-brand" href="{{ url_for('index_page') }}"><img src="../static/logo.jpg" alt="Otaku Outages Logo"></a>
                 <button
                     class="navbar-toggle"
                     type="button"
                     data-bs-toggle="collapse"
                     data-bs-target="#navbarNav"
                     aria-controls="navbarNav"
                     aria-expanded="false"
                     aria-label="Toggle navigation"
                 >
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav ms-auto">
                         <li class="nav-item">
                             <a class="nav-link" href="{{ url_for('tech_page') }}">Tech Stack</a>
                         </li>
                         <li class="nav-item active">
                             <a class="nav-link" href="{{ url_for('about_page') }}">About Us</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="{{ url_for('authors_page') }}">Authors</a>
                         </li>
                     </ul>
                 </div>
             </div>
        </nav>

        <main>
            <section id="section--1">
                <div class="container">
                    <h1>About Page</h1>
                    <div class="body-content">
                        <h2>Otaku Outages</h2>
                        <div class="badge">
                            <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=white" alt="Python Badge image" />
                            <img src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white" alt="Flask Badge image" />
                            <img src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white" alt="AWS Badge image" />
                            <img src="https://img.shields.io/badge/GoogleCloud-%234285F4.svg?style=for-the-badge&logo=google-cloud&logoColor=white" alt="Google Cloud Badge image" />
                            <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="GitHub Badge image" />
                            <img src="https://img.shields.io/badge/-RaspberryPi-C51A4A?style=for-the-badge&logo=Raspberry-Pi" alt="Raspberry Pi Badge image" />
                        </div>

                        <hr />
                        <p id="ru-desc">For the RevolutionUC hackathon we put together a status page that reports
                        on the availability of the top anime streaming sites. To see more about the RevolutionUC Event
                        Click <a class="hyperlink" href="https://revolutionuc.com/">Here!</a></p>
                        <p><strong>Details of our RevolutionUC tech stack</strong></p>

                        <ul class="text-white">
                            <li>Our tech stack consists of the following:
                                <ul>
                                    <li>AWS - Web Server (Python/Flask)</li>
                                    <li>Google Cloud - Database</li>
                                    <li>Google Cloud - PageSpeed API</li>
                                    <li>GitHub - Project Management/CI CD</li>
                                    <li>Twilio - SMS/Notifications</li>
                                    <li>Raspberry Pi - Visual Alerts</li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>

            </section>

        </main>


    </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>